$wht: #fff;
$grn: #36975F;
$rd: #C20017;

@mixin buttons {
  color: $wht;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
  box-shadow: 2px 3px 10px 1px grey;
}

@mixin sides($c) {
  background-color: $c;
  color: $c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=413d29f6051e59b9d2317d8d827c8279&auto=format&fit=crop&w=1370&q=80');
  #quote-box {
    border-radius:5px;
    position: relative;
    margin: 13em auto auto auto;
    width:450px;
    padding:40px 50px;
    background-color: $wht;
  }

  .empire {
    @include sides($rd)
  }

  .rebel {
    @include sides($grn)
  }

  #text {
    text-align: center;
    background-color: $wht;
  }

  #author {
    text-align: right;
    background-color: $wht;
  }

  #buttons {
    display: flex;
    justify-content: space-between;
    .button {

    }
    #tweet-quote {
      font-size: 1em;
      padding: .75em .80em;
      @include buttons;
    }
    #new-quote {
      padding: .75em 2em;
      @include buttons;
    }
  }
}
